<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Job title</th>
      <th>Job description</th>
      <th>Work exp min</th>
      <th>Work exp max</th>
      <th>Salary range min</th>
      <th>Salary range max</th>
      <th>Openings</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.category %></td>
        <td><%= job.job_title %></td>
        <td><%= job.job_description %></td>
        <td><%= job.work_exp_min %></td>
        <td><%= job.work_exp_max %></td>
        <td><%= job.salary_range_min %></td>
        <td><%= job.salary_range_max %></td>
        <td><%= job.openings %></td>
        <td><%= job.industry %></td>
        <td><%= link_to 'Show', recruiter_job_path(job) %></td>
        <td><%= link_to 'Edit', edit_recruiter_job_path(job) %></td>
        <td><%= link_to 'Destroy', recruiter_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_recruiter_job_path %>
