<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>


  <h2>Freshers Jobs  <div align="center"><%= link_to "...more Jobs", jobs_path(:category_id=>1) %></div></h2>
    <% @fresherjobs.each do |job| %>
    <%= link_to job.job_title, showjob_path(:id=>job) %> - <h5> Location is </h5> <h6><%= job.locations.collect(&:city_name).join(", ") %></h6><br/>
    <% end %>

  
  <br/>
  <h2>Govt Jobs<div align="center"><%= link_to "...more Jobs", jobs_path(:category_id=>2) %>
</div></h2>
     
    <% @govtjobs.each do |job| %>
    <%= link_to job.job_title, showjob_path(:id=>job) %> - <h5> Location is </h5> <h6><%= job.locations.collect(&:city_name).join(", ") %></h6><br/>
    <% end %>
 
  <br/>
  <h2>BPO Jobs<div align="center"><%= link_to "...more Jobs", jobs_path(:category_id=>3) %>
</div></h2>
 

    
    <% @bpojobs.each do |job| %>
    <%= link_to job.job_title, showjob_path(:id=>job) %> - <h5> Location is </h5> <h6><%= job.locations.collect(&:city_name).join(", ") %></h6><br/>
    <% end %>
  

<br>
<% Industry.all.each do |indus| %>
 <%= link_to indus.name, industrywisejobs_path(:industry_id=>indus) %>
<% end %>
